/* General Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, black, purple);
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Selection Container */
.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Individual Option Styling */
.option {
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.emoji {
    font-size: 5rem;
}

.option:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

/* Labels */
.label {
    margin-top: 10px;
    font-size: 1.2rem;
}
